.search-results-type-selector {
  margin: 85px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  width: 40rem;
  transition: 250ms all;
}

.search-results-type-selector * {
  transition: 250ms all;
}

.search-results-type-selector a {
  text-decoration: none;
}

.search-results-type-selector.dark a {
  color: whitesmoke;
}

.search-results-type-selector.light a {
  color: black;
}

.search-results-type-selector .type {
  border-radius: 5px;
}

.search-results-type-selector p {
    padding: 1rem;
    font-weight: bold;
}

.search-results-type-selector .type {
  background: rgba(0, 0, 0, 0);
}

.search-results-type-selector.light .type:hover {
  background: rgba(255, 255, 255, 0.7);
}

.search-results-type-selector.dark .type:hover {
    background: rgba(255, 255, 255, 0.3);
}

.search-results-type-selector.light .type.selected {
  background: rgba(255, 255, 255, 0.7);
}

.search-results-type-selector.dark .type.selected {
    background: rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 715px) {
  .search-results-type-selector {
    width: 38rem;
  }
}

@media only screen and (max-width: 635px) {
  .search-results-type-selector {
    width: 34rem;
  }
}

@media only screen and (max-width: 570px) {
  .search-results-type-selector {
    width: 30rem;
  }
}

@media only screen and (max-width: 500px) { 
  .search-results-type-selector {
    width: 28rem;
  }
}

@media only screen and (max-width: 480px) {
  .search-results-type-selector {
    width: 90%;
  }
}

@media only screen and (max-width: 440px) {
  .search-results-type-selector {
    gap: 2rem;
  }
  .search-results-type-selector p {
    font-size: .8rem;
  }
}