.user-feed-filter-selector {
  height: 65px;
  width: 38rem;
  margin: 1rem auto;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  transition: 250ms all;
}

.user-feed-filter-selector * { 
  transition: 250ms all;
}

.user-feed-filter-selector a {
  text-decoration: none;
}

.user-feed-filter-selector.light { 
    border: 1px solid rgba(0,0,0,0.2);
    background: white;
  }

.user-feed-filter-selector.dark { 
  background: rgb(30,30,30);
  border: 1px solid rgba(255,255,255,0.2);
}

.filter-selector-item {
  border-radius: 10px;
  font-weight: bold;
}

.user-feed-filter-selector.dark .filter-selector-item {
  color: whitesmoke;  
}

.filter-selector-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  gap: .2rem;
  padding: .4rem .8rem;
}

.filter-selector-item:hover {
  cursor: pointer;
}

.user-feed-filter-selector.light .filter-selector-item.active { 
  color: #0470d4;
  background: rgb(220,220,220);
}

.user-feed-filter-selector.light .filter-selector-item:hover {
  color: #0470d4!important;
  background: rgb(220,220,220);
}

.user-feed-filter-selector.light .filter-selector-item.inactive { 
  color: rgb(100,100,100);
}

.user-feed-filter-selector.dark .filter-selector-item.active { 
  color: whitesmoke;
  background: rgb(100,100,100);
}

.user-feed-filter-selector.dark .filter-selector-item:hover {
  background: rgb(100,100,100);
  color: whitesmoke!important;
}

.user-feed-filter-selector.dark .filter-selector-item.inactive { 
  color: rgb(100,100,100);
}

.user-feed-filter-top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 930px) {
  .user-feed-filter-selector {
    width: 34rem;
  }
  .filter-selector-item-container {
    padding: .35rem .55rem;
    font-size: .85rem;  
  } 
}

@media only screen and (max-width: 890px) {
  .filter-selector-item-container {
    padding: .3rem .5rem;
    font-size: .8rem;  
  } 
}

@media only screen and (max-width: 640px) {
  .user-feed-filter-selector {
    width: 32rem;
  }
}

@media only screen and (max-width: 530px) {
  .filter-selector-item-container {
    padding: .3rem .5rem;
    font-size: .8rem;  
  } 
  .user-feed-filter-selector {
    width: 27rem;
    gap: 3rem;
  }
}

@media only screen and (max-width: 450px) {
  .user-feed-filter-selector {
    width: 24rem;
    gap: 2rem;
  }
}

@media only screen and (max-width: 405px) {
  .user-feed-filter-selector {
    width: 20rem;
    gap: 1rem;
  }
  .filter-selector-item-container {
    padding: .2rem .4rem;
    font-size: .75rem;  
  } 
}